<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans spring-beans-2.0.xsd">
    <bean id="clientgui" class="project.efg.client.factory.gui.GUIFactory">
   			<description>Create the factory as a singleton</description>
  	</bean>
	<bean id="springgui" class="project.efg.client.factory.gui.SpringGUIFactory">
   			<description>Create the factory as a singleton</description>
  	</bean>

  	<bean id="treestringcomparator" class="project.efg.client.impl.gui.TreeStringComparatorImpl" lazy-init="false" scope="prototype"/>
     <bean id="transferHandler" class="project.efg.client.impl.gui.SynopticKeyTransferHandler"  scope="prototype">
  		<description></description>
   	</bean> 
   	 <bean id="tree_expansionlistener" class="project.efg.client.impl.gui.TreeExpansionHandler"  scope="prototype">
  		<description></description>
   	</bean> 
   		 <bean id="neutral_stateObject" class="project.efg.client.impl.gui.NeutralStateObject">
  		<description></description>
   	</bean> 
   		 <bean id="success_stateObject" class="project.efg.client.impl.gui.SuccessStateObject">
  		<description></description>
   	</bean> 
   	<bean id="failure_stateobject" class="project.efg.client.impl.gui.FailureStateObject">
  		<description></description>
   	</bean> 
  
</beans>