<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans spring-beans-2.0.xsd">
  	<bean id="springnogui" class="project.efg.client.factory.nogui.SpringNoGUIFactory">
   			<description>Create the factory as a singleton</description>
  	</bean>
 	<bean id="clientnogui" class="project.efg.client.factory.nogui.NoGUIFactory">
   			<description>Create the factory as a singleton</description>
  	</bean>
  	<bean id="caseinsensitive_comparator" class="project.efg.client.impl.nogui.CaseInsensitiveComparatorImpl" scope="prototype" lazy-init="false">
  		<description></description>
   	</bean>
 	<bean id="thumbsGenerator" class="project.efg.client.utils.nogui.ImageMagickGenerator" scope="prototype">
   			<description>Configure the Thumbnail Generator here</description>
  	</bean>
  	<bean id="csvProcessor" class="project.efg.client.rdb.nogui.EFGCSVDataExtractorImpl" scope="prototype">
  		<description>Configure the csv file processor here</description>
   	</bean>
   	<bean id="csvImporter" class="project.efg.client.rdb.nogui.CSV2Database" lazy-init="false" scope="prototype">
  		<description>Configure the csv file processor here</description>
   	</bean>
 
 	<bean id="importOnlyCommand" class="project.efg.client.impl.nogui.ChoiceCommandNewImpl" scope="prototype">
  		<description></description>
   	</bean>
   	<bean id="importReplaceCommand" class="project.efg.client.impl.nogui.ChoiceCommandReplaceImpl" scope="prototype">
  		<description></description>
   	</bean>
   	 <bean id="importUseMetadataCommand" class="project.efg.client.impl.nogui.ChoiceCommandExistImpl" scope="prototype">
  		<description></description>
   	</bean>
   	 <bean id="importUpdateCommand" class="project.efg.client.impl.nogui.ChoiceCommandUpdateImpl" scope="prototype">
  		<description></description>
   	</bean>
   	 <bean id="importDefaultCommand" class="project.efg.client.impl.nogui.ChoiceCommandDefaultImpl" scope="prototype">
  		<description></description>
   	</bean>
   	
   	<bean id="datasourceobjectimpl" class="project.efg.client.impl.nogui.EFGDatasourceObjectImpl" scope="prototype">
  		<description></description>
   	</bean>
   	<bean id="loginmodule" class="project.efg.client.rdb.nogui.LoginModule">
  		<description></description>
   	</bean>
   
</beans>