table.header {
	  margin-left: 20px;
	  margin-right: 0px;
	  border-collapse: collapse; 
	  }
	table.specieslist {
	  width: 100%;
	  margin-left: 0px;
	  margin-right: 0px;
	  border-collapse: collapse; 
	  }
	td {
	  color: #663399;
	  font-family: helvetica, verdana, arial;
	  font-size: 8pt;
	   }
	td.title {
	   align: left;
	   width: 100%;
	   margin-left: 0px;
	   padding-bottom: 10px;
	   padding-right: 100px;
	   border-bottom-style: solid;
	   border-bottom-width: 2px;
	   border-bottom-color: darkblue;
	   }
	td.logo {
	   height: 200px;
	   vertical-align: center;
	   padding-left: 5px;
	   align: left;
	   }
	td.linkbullet {
	   padding-right: 5px;
	   vertical-align: center;
	   padding-bottom: 5px;
	   }
	td.link {
	   vertical-align: center;
	   padding-bottom: 5px;
	   }
	td.descrip {
	  color: #000000;
	  font-family: helvetica, verdana, arial;
	  font-size: 11pt;
	  padding-bottom: 30px;
	  padding-top: 30px;
	  padding-left: 0px;
	  }
	td.commonheader {
	   color: #000000;
	   font-family: times-roman new, times, serif;
	   font-size: 12pt;
	   font-weight: bold;
	   border-bottom-style: solid;
	   border-bottom-color: #000000;
	   border-bottom-width: 1px;
	   padding-right: 25px;
	   }
	td.sciheader {
	   color: #000000;
	   font-family: times-roman new, times, serif;
	   font-size: 12pt;
	   font-weight: bold;
	   font-style: italic;
	   border-bottom-style: solid;
	   border-bottom-color: #000000;
	   border-bottom-width: 1px;
	   }
	td.commonname {
    color: #000000;
    font-family: helvetica, verdana, arial;
    font-size: 10pt;
    padding-bottom: 7px;
    padding-right: 35px;
    }
 td.sciname {
    color: #000000;
    font-family: helvetica, verdana, arial;
    font-style: italic;
    font-size: 10pt;
    padding-bottom: 7px;
    padding-right: 35px;
    }
	td.spacerwidth {
	   width: 80px;
	   }
	td.spacerheight {
	   height: 10px;
	   }
	a.commonname1st {
	  color: #336600;
	  font-family: helvetica, verdana, arial;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: none;
	  }
	a.commonname1st:hover {
	  color: #1c86ee;
	  font-family: helvetica, verdana, arial;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: underline;
	  }
	a.sciname2nd {
	  color: #000000;
	  font-family: helvetica, verdana, arial;
	  font-style: italic;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: none;
	  }
	a.sciname2nd:hover {
	  color: #000000;
	  font-family: helvetica, verdana, arial;
	  font-style: italic;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: underline;
	  }
	a.commonname2nd {
	  color: #000000;
	  font-family: helvetica, verdana, arial;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: none;
	  }
	a.commonname2nd:hover {
	  color: #000000;
	  font-family: helvetica, verdana, arial;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: underline;
	  }
	a.sciname1st {
	  color: #336600;
	  font-family: helvetica, verdana, arial;
	  font-style: italic;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: none;
	  }
	a.sciname1st:hover {
	  color: #1c86ee;
	  font-family: helvetica, verdana, arial;
	  font-style: italic;
	  font-size: 10pt;
	  text-align: left;
	  text-decoration: underline;
	  }	  
	caption {
	  text-align: center;
	  vertical-align: bottom;
	  color: #efe022;
	  font-family: helvetica, verdana, arial;
	  font-weight: bold;
	  font-size: 10pt;
      }
	span.sciname {
	   color: #000000;
	   font-family: helvetica, verdana, arial;
	   font-style: italic;
	   font-size: 10pt;
	  }