<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">  	 
       <bean id="queryexecutor" class="project.efg.util.utils.QueryExecutor" scope="prototype" lazy-init="false">
    	<description>Create a QueryExecutor</description>
  	</bean>
  	
  	 <bean id="templateobject" class="project.efg.util.utils.TemplateObject" scope="prototype" lazy-init="false">
    	<description>Create a TemplateObject</description>
 
  	</bean>
  	 <bean id="displayobject" class="project.efg.util.utils.EFGDisplayObject" scope="prototype" lazy-init="false">
    	<description>Create a DisplayObject</description>
  	</bean>  	
    <bean id="searchableobject_comparator" class="project.efg.util.utils.EFGDataObjectComparator" scope="prototype" lazy-init="false">
  		<description></description>
   	</bean>
   	<bean id="default_comparator" class="project.efg.util.utils.ComparatorImplDefault" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
   	 <bean id="queue_object" class="project.efg.util.utils.EFGQueueObject" 
   	 lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
   	 <bean id="EQS" class="project.efg.util.utils.EqualsOperator" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
   <bean id="GTS" class="project.efg.util.utils.GreaterThanOperator" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
	  <bean id="LTS" class="project.efg.util.utils.LessThanOperator" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
	 <bean id="PLS" class="project.efg.util.utils.PlusOperator" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
   	 <bean id="GTSEQS" class="project.efg.util.utils.GreaterThanOrEqualsOperator" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
	 <bean id="LTSEQS" class="project.efg.util.utils.LessThanOrEqualsOperator" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
	 <bean id="defaultOperator" class="project.efg.util.utils.DefaultOperator" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>

 	<bean id="datasourceManager" class="org.springframework.jdbc.datasource.DriverManagerDataSource" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
   	<bean id="rowmapper" class="project.efg.util.utils.EFGRowMapperImpl" lazy-init="false" scope="prototype">
  		<description></description>
   	</bean>
   	<bean id="efgparsestates" class="project.efg.util.utils.EFGParseStates" scope="prototype">
   	</bean>
   	<bean id="unicode2ascii" class="project.efg.util.utils.UnicodeToASCIIFilter"/>
   	<bean id="parseobjectlist" class="project.efg.util.utils.EFGParseObjectList" scope="prototype"/>
 <bean id="xmlfilenamefilter" class="project.efg.util.utils.XMLFileNameFilter"/>
  
</beans>