$Id$
You must have the following applications installed
in order to use the EFG2 software. 
Please abort the installation if you do not have them already installed
and configured on your machine.
Note: INSTALL_PATH is where the application is installed.

Required Applications

1) Java Runtime 1.5 
2) Jakarta-Tomcat 5.0(from the Apache jakarata project. 
EFG2 requires that Tomcat 5.0 is run with JDK 1.4 .)
 You must have write privileges to the Jakarta-Tomcat 5.0
 folder
3) Image Magick 6.3.2
4) MySQL Server 5.0 (must be at port 3306)



The EFG2 application will fail to work
if you do not have these installed.


MySQL Information
1) You must have root privileges on localhost and % on your
mysql database server to use the EFG2 Application.
You can do that by logging into mysql and issuing the following 
two commands:

GRANT ALL PRIVILEGES ON *.* TO root;

GRANT ALL PRIVILEGES ON *.* To 'root'@'localhost'

Note: root user can be replaced with any username of your choice
but it must be the user that you will use to log into
mysql database via EFG2DataImporter (see manual for more info).

Restart MySQL after making these changes.