body {
				background-color: #DDEEFF;
			}
			#numresults {
				font-family: arial, helvetica, sans;
				color: #00008B;
				padding-bottom: 10px;
				border-bottom: 2px solid #00008B;
				margin-bottom: 10px;
		}
		.num {
			background-color: #00008B;
			color: #fff;
			padding: 2px;
			font-weight: bold;
		}
		table.resultsdisplay {
			border: 0px;
			border-collapse: collapse;
			margin: 0px;
		}
		td.thumbnail {
			vertical-align: bottom;
			padding-right: 10px;
			padding-left: 10px;
			padding-bottom: 0px;
			padding-top: 3px;
			padding-bottom: 2px;
			text-align: center;
			border-left: 16px solid #DDEEFF;
			border-right: 16px solid #DDEEFF;
		}
		td.caption {
			font-family: arial, helvetica, sans;
			color: #00008B;
			padding-right: 10px;
			padding-left: 10px;
			padding-bottom: 4px;
			text-align: center;
			margin-right: 0px;
			font-size: 12px;
			background-color: #fff;
			border-left: 16px solid #DDEEFF;
			border-right: 16px solid #DDEEFF;
			border-bottom: 8px solid #DDEEFF;
		}
		img, a.thumbnail {
			border: 0px;
		}
		a.thumbnail:hover {
			border: 1px;
		}
		a.caption {
			font-family: arial, helvetica, sans;
			color: #00008B;
			text-decoration: none;
		}
		a.caption:hover {
			text-decoration: underline;	
		}
		td.rowspacer {
			height: 20px;	
		}
	