$Id: RequirementsForBuildingInstaller.txt,v 1.3 2007/03/12 23:20:46 kasiedu Exp $

A) The following frameworks are required:
	1. You need eclipse NSIS 0.9.5 plugin(http://eclipsensis.sourceforge.net/index.shtml) or
	MakeNSIS 2.16 installed on your system.
	2. Ant 1.6
	3. JSDK 1.4.2
	4. JRE 1.5

B) Modules needed from CVS
	1.efg2_platemaker
	2.efg2_skins
	3.efg2_website
	4.EFGsoftware/efg2
	All of these must be at the same directory level with efg2 module.
	The generated EFG2Installer will be placed in the EFGsoftware/efg2 folder.
	You then need to edit EFGsoftware/index.html to add the relevant info for
	the created installer.
	Ant targets:
		run ant build_dist.xml with the "makeImportNSIS" target.

C) Building the Installer
	I)Go to the efg2/builderApps directory and use NSIS to compile:
		1. About.nsi
		2. EFG2DataImporter.nsi

		Both of these should create .exe files.

	II) Build Full Installer
		To build the Full installer(one that comes with MySQL 5.0, Tomcat5.0, Jre 1.5, 
		jdk 1.4.2 and Image Magick 6.3.2) executable you need to edit:

 		1. builderApps/headers/downloadHeaders.nsh and point all of the hard coded full paths
 		   to point to the executables of the applications listed in the paths.
 		2. Open builderApps/EFG2DataImporterInstaller.nsi and uncomment(remove the first semi colon)
 			from the line ;!include "headers/FullInstaller.nsh" (which around  line 29).

		3. Then compile EFG2DataImporterInstaller.nsi with NSIS which produces
			EFG2InstallerFull.exe is produced. That is the installer you need to distribute.

	III) Partial Installer ( Dependent components are fetched from the internet)
		Just compile  builderApps/EFG2DataImporterInstaller.nsi
		EFG2Installer.exe is produced. That is the installer you need to distribute.
	IV) If version of software/installer changes edit the variable 'ProductVersion'
		in builderApps/efg2Headers.nsh to refelct this change.




